/* -->> --------------------------

	Table of Content:
	 1 	 - BASIC
	 2 	 - LINKS
	 3 	 - HEADER
	 4 	 - MAIN NAVIGATION 
	 5 	 - DROPDOWN
	 6 	 - CHAT MODAL
	 7 	 - SUB NAVIGATION
	 8 	 - SIDE NAVIGATION	
	 9 	 - PAGE SETTINGS
	10 	 - COMMON STYLES
	11 	 - FORMS
	12   - CHARTS
	13 	 - TABLES
	14 	 - CALENDAR
	15 	 - GALLERY
	16 a - UI: ACCORDIONS
	16 b - UI: BUTTONS AND ICONS
	16 c - UI: BREADCRUMBS
	16 d - UI: PROGRESSBARS
	16 e - UI: SLIDERS
	16 f - UI: TABS
	16 g - UI: TOOLTIPS AND POPOVERS
	16 h - UI: MISC
	17 	 - FILE MANAGER
	18 	 - TYPOGRAPHY
	19 	 - WIDGETS
	20 a - PAGES: LOGIN PAGE
	20 b - PAGES: SEARCH PAGE 
	20 c - PAGES: MAIL PAGE 
	20 d - PAGES: PROFILE PAGE 
	20 e - PAGES: INVOICE PAGE 
	20 f - PAGES: ERROR PAGE 
	00 	 - MEDIA QUERIES
	 -->> --------------------------- */


/* -->> --------------------------

Table of Content:
 1 	 - GENERAL HTML, BODY 
 2 	 - TYPOGRAPHY
 3 	 - LISTS & FIELDSETS
 4 	 - TABLES, ALERTS, BOXES, HR
 5 	 - FORMS & FORM ELEMENTS
 6 	 - LINKS & BUTTONS
 7 	 - IMAGES
 8 	 - SIDE NAVIGATION	
 9 	 - PAGE SETTINGS
10 	 - COMMON STYLES
11 	 - FORMS
12   - CHARTS
13 	 - TABLES
14 	 - CALENDAR
15 	 - GALLERY
16 a - UI: ACCORDIONS
16 b - UI: BUTTONS AND ICONS
16 c - UI: BREADCRUMBS
16 d - UI: PROGRESSBARS
16 e - UI: SLIDERS
16 f - UI: TABS
16 g - UI: TOOLTIPS AND POPOVERS
16 h - UI: MISC
17 	 - FILE MANAGER
18 	 - TYPOGRAPHY
19 	 - WIDGETS
20 a - PAGES: LOGIN PAGE
20 b - PAGES: SEARCH PAGE 
20 c - PAGES: MAIL PAGE 
20 d - PAGES: PROFILE PAGE 
20 e - PAGES: INVOICE PAGE 
20 f - PAGES: ERROR PAGE 
00 	 - MEDIA QUERIES
 -->> --------------------------- */


a,abbr,acronym,address,area,article,aside,audio,b,base,big,blockquote,body,canvas,caption,cite,code,col,colgroup,datalist,dd,del,details,dfn,dialog,div,dl,dt,em,fieldset,figcaption,figure,footer,form,frame,frameset,h1,h2,h3,h4,h5,h6,head,header,hr,html,hgroup,i,iframe,img,input,ins,kbd,label,legend,li,link,menu,mark,map,nav,object,ol,optgroup,option,output,p,pre,q,section,select,small,span,table,tbody,td,tfoot,th,thead,textarea,tr,ul{margin:0;padding:0;border:none;vertical-align:baseline}
article,aside,details,dialog,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

/* ---------------------------
	
	1. GENERAL, HTML, BODY 

----------------------------- */

html { margin:0; padding:0; border:none; height: 100%; -webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; }

body { background: #ECEFF1; color: #000000; font-family: 'Montserrat', Segoe UI, Arial, sans-serif; font-size: 12px; font-weight: 400; text-align: left;  position:absolute; /*padding-top:60px;*/ top:0px; bottom:0; right:0; left:0;  overflow-y: scroll; z-index: -1;}
body.dark-theme { background: #191a1b; color: #ffffff;}

.dark-theme hr {background: #444;}
/* grid system for layouts*/
.grid-container {margin:0 auto;padding: 0 15px;width:1200px; display: table;}
.grid-row {width:100%;}
.grid-left, .grid-right, .grid-center, .grid-leftacross, .grid-rightacross, .grid-full {min-height: 1px;float:left;/*position: relative;z-index: 1;*/ display: table-row;}
.grid-full {width:1170px;}
.grid-left {width:200px; margin-right:25px !important;}
.grid-right {width:270px; margin-left:25px !important;}
.grid-center {width:650px;}
.grid-leftacross {width:875px;}
.grid-rightacross {width:945px;}

/* general */
.first {margin-left:0;padding-left:0}
.last {padding-right:0; margin-right:0}
.top {margin-top:0;padding-top:0}
.bottom {margin-bottom:0;padding-bottom:0}

.clearfix,.container {display:block}
.clear {clear:both}

:focus {outline:0}

/* hack to hide bootstraps totop button */
#toTop {display: none !important;}

/* aligns */
.left {text-align: left;}
.right {text-align: right;}
.center {text-align: center;}

/* floats */
.float-left {float: left;}
.float-right {float: right;}
.float-none {float: none;}

/* font-weight */
.thin {font-weight: 100;}
.normal-thin {font-weight:300;}
.regular {font-weight: 400;}
.bold {font-weight: 700;}
.extra_bold {font-weight: 900;}

.uppercase {text-transform: uppercase;}

/* colors */
.white {color:white !important;}
.red {color:red !important;}
.muted {color:#999}

.hint, .disabled {color: #888;}
.hint-block, .disabled {color: #888; font-size: 11px; font-style: italic; margin-top: 5px;}

.overflow-hidden {overflow: hidden;}
.drop-shadow {box-shadow: 1px 1px 4px #ccc;}
.drop-dark-shadow {box-shadow: 1px 1px 7px #444;}
.no-border {border:none;}
.no-bottom-border {border-bottom: none;}
.border-top {border-top: 1px solid #ddd;}
.border-bottom {border-bottom: 1px solid #ddd;}
.border-left {border-left: 1px solid #ddd;}
.border-right {border-right: 1px solid #ddd;}

.tooltip {position:absolute;z-index:1030;display:block;padding:5px;font-size:11px;opacity:0;filter:alpha(opacity=0);visibility:visible}.tooltip.in{opacity:.8;filter:alpha(opacity=80)}.tooltip.top{margin-top:-3px}.tooltip.right{margin-left:3px}.tooltip.bottom{margin-top:3px}.tooltip.left{margin-left:-3px}.tooltip-inner{max-width:200px;padding:3px 8px;color:#fff;text-align:center;text-decoration:none;background-color:#000;-moz-border-radius:4px;border-radius:4px}.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-top-color:#000;border-width:5px 5px 0}.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-right-color:#000;border-width:5px 5px 5px 0}.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-left-color:#000;border-width:5px 0 5px 5px}.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-bottom-color:#000;border-width:0 5px 5px}

/*margins*/
.margin-bottom-5 {margin-bottom: 5px !important;}.margin-bottom-10 {margin-bottom: 10px !important;}.margin-bottom-15 {margin-bottom: 15px !important;}.margin-bottom-20 {margin-bottom: 20px !important;}
.margin-top-5 {margin-top: 5px !important;}.margin-top-10 {margin-top: 10px !important;}.margin-top-15 {margin-top: 15px !important;}.margin-top-20 {margin-top: 20px !important;}
.margin-left-5 {margin-left: 5px !important;}.margin-left-10 {margin-left: 10px !important;}.margin-left-15 {margin-left: 15px !important;}.margin-left-20 {margin-left: 20px !important;}
.margin-right-5 {margin-right: 5px !important;}.margin-right-10 {margin-right: 10px !important;}.margin-right-15 {margin-right: 15px !important;}.margin-right-20 {margin-right: 20px !important;}
/*paddings*/
.padding-bottom-0 {padding-bottom: 0px !important;} .padding-bottom-5 {padding-bottom: 5px !important;}.padding-bottom-10 {padding-bottom: 10px !important;}.padding-bottom-15 {padding-bottom: 15px !important;}.padding-bottom-20 {padding-bottom: 20px !important;}
.padding-top-5 {padding-top: 5px !important;}.padding-top-10 {padding-top: 10px !important;}.padding-top-15 {padding-top: 15px !important;}.padding-top-20 {padding-top: 20px !important;}
.padding-left-5 {padding-left: 5px !important;}.padding-left-10 {padding-left: 10px !important;}.padding-left-15 {padding-left: 15px !important;}.padding-left-20 {padding-left: 20px !important;}
.padding-right-5 {padding-right: 5px !important;}.padding-right-10 {padding-right: 10px !important;}.padding-right-15 {padding-right: 15px !important;}.padding-right-20 {padding-right: 20px !important;}

.no-padding {
   padding: 0 !important;
}
.no-margin {
   margin: 0 !important;
}


/* -------- COLOR PALLETES ---------- */
/*
	PRIMARY COLOR
	Blue Grey
	50 		#ECEFF1
	700		#455A64
	900		#263238

	SECONDARY COLOR
	Blue 	#2196F3
	*/
.bg-blue {background: #2196F3 !important;}
.bg-blue-100 {background: #BBDEFB !important;}

.gray-color {color:#999;}
.color-green-900 {color: #388F3C;}
.bg-green-900 {background: #388F3C !important;}
.green {color: green;}

.color-orange-900 {color: #EF6C00;}
.bg-orange-900 {background: #EF6C00 !important;}

.color-blue-gray-200 {color: #CFD8DC;}
.bg-blue-gray-200 {background: #CFD8DC !important;}
.color-blue-gray-900 {color: #263238;}
.bg-blue-gray-900 {background: #263238 !important;}

.bg-primary {padding: 15px;}
.bg-info {padding: 15px;}
.bg-danger {padding: 15px;}
.bg-success {padding: 15px;}

/* ---------------------------
	
	2. TYPOGRAPHY 

----------------------------- */

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:400;line-height:1;color:#999}

h1 small{font-size:24.5px}
h2 small{font-size:17.5px}
h3 small,h4 small{font-size:14px}

h1, h2, h3, h4, h5, h6, p { font-weight: 400; opacity:1;}
h1 {font-weight: 300; font-size:42px; line-height:42px; margin:10px 0 5px;}
h2 {font-weight: 700; font-size:28px; line-height:24px; margin:10px 0;}
h3 {font-weight: 700; font-size:22px; line-height:22px; margin:7px 0;}
h4 {font-weight: 700; font-size:19px; line-height:19px; margin:5px 0;}
h5 {font-weight: 700; font-size:17px; line-height:17px;}
h6 {font-weight: 700; font-size:15px; line-height:15px;}

h2.product-section-heading {font-size:18px; color:#999; margin:30px 0 15px;}

/* paragraph */
p {font-size:14px; line-height:17px; margin-bottom: 20px; text-indent: 0px;}
p.clear {margin-bottom: 0px;}
p ul {text-indent: 20px;}


blockquote {opacity:.6; font-style: italic; margin-bottom: 20px;}

/* font-sizes */
.fs_8 { font-size: 8px; }
.fs_9 { font-size: 9px; }
.fs_10 { font-size: 10px; }
.fs_11 { font-size: 11px; }
.fs_12 { font-size: 12px; }
.fs_13 { font-size: 13px; }
.fs_14 { font-size: 14px; }
.fs_15 { font-size: 15px; }
.fs_16 { font-size: 16px; }
.fs_20 { font-size: 20px; }
.fs_30 { font-size: 30px; }
.fs_36 { font-size: 36px; }
.fs_42 { font-size: 42px; }

.strikethrough {text-decoration: line-through;}
.capitalize::first-letter {text-transform: uppercase;}

/* labels */
label{display:block;margin-bottom:5px; font-weight: 400;}

/* sub, sup, small, strong */
sub,sup {position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup {top:-.5em}
sub {bottom:-.25em}
small {font-size:85%}
strong {font-weight:700}
	

/* ---------------------------
	
	3. LISTS & FIELDSETS

----------------------------- */

/* lists */
li ol, li ul {margin:0}
ul {list-style-type:none}
ul.disc {list-style-type:disc;}
ul.disc li {margin:10px 0 10px 30px;}

/* multiple columns */	
.column6 {-webkit-column-count: 6; /* Chrome, Safari, Opera */-moz-column-count: 6; /* Firefox */column-count: 6; -webkit-column-break-inside: avoid !important; page-break-inside: avoid !important; break-inside: avoid !important;}
.column4 {-webkit-column-count: 4; /* Chrome, Safari, Opera */-moz-column-count: 4; /* Firefox */column-count: 4; -webkit-column-break-inside: avoid !important; page-break-inside: avoid !important; break-inside: avoid !important;}
.column3 {-webkit-column-count: 3; /* Chrome, Safari, Opera */-moz-column-count: 3; /* Firefox */column-count: 3; -webkit-column-break-inside: avoid !important; page-break-inside: avoid !important; break-inside: avoid !important;}
.column2 {-webkit-column-count: 2; /* Chrome, Safari, Opera */-moz-column-count: 2; /* Firefox */column-count: 2; -webkit-column-break-inside: avoid !important; page-break-inside: avoid !important; break-inside: avoid !important;}

/* fieldsets */
fieldset {border:1px solid #DDDDDD; background: white; padding: 20px; margin-bottom:20px;}
fieldset.gray {background: #F6F7F8;}


/* ---------------------------
	
	4. TABLES, BOXES, HR

----------------------------- */

/* TABLES */
table {vertical-align:middle;margin:0;padding:0;width:100%;background: transparent;border-collapse:collapse;border-spacing:0}
td,th {text-align:left;float:none!important;vertical-align:top;margin:0;padding:0;}

hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;border:none;margin:10px 0;}
.dark-theme .table-striped > tbody > tr:nth-of-type(odd) {background: #222}

/* ---------------------------
	
	5. FORMS & FORM ELEMENTS

----------------------------- */

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px;}
input, button, select, textarea, .select2-container--krajee .select2-selection, .bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-label { font-weight: 400; font-family: 'Montserrat', Arial, sans-serif; font-size: 12px !important;}
.select2-container--krajee .select2-selection {border-radius: 0 !important;}

/*Form focus */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { border: 1px solid #2196F3; box-shadow: 0 0 5px #82B1FF; -moz-box-shadow: 0 0 5px #82B1FF;}

select, input, textarea {border:1px solid #dddddd;}
/*select, input, input[type="text"], input[type="password"], input[type="number"], input[type="email"] {height: 29px !important; border-radius: 0 !important;}*/
select {font-weight: 500; padding-left:10px;}

button::-moz-focus-inner,input::-moz-focus-inner {padding:0;border:0}
button,html input[type=button],input[type=reset],input[type=submit] {cursor:pointer;-webkit-appearance:button}
input[type=search] {-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {-webkit-appearance:none}
textarea {overflow:auto}

input[type=checkbox]:focus,input[type=file]:focus,input[type=radio]:focus,select:focus{outline:#333 dotted thin;outline:-webkit-focus-ring-color auto;outline-offset:-2px}

input:focus:required:invalid, select:focus:required:invalid, textarea:focus:required:invalid {color:#b94a48;border-color:#ee5f5b}
input:focus:required:invalid:focus, select:focus:required:invalid:focus, textarea:focus:required:invalid:focus {border-color:#e9322d;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7}

.input-append,.input-prepend {margin:5px 0;font-size:0;white-space:nowrap}
.input-append .dropdown-menu, .input-append .uneditable-input, .input-append input, .input-append select,.input-prepend .dropdown-menu,.input-prepend .uneditable-input, .input-prepend input, .input-prepend select {font-size:13px}
.input-append .uneditable-input,.input-append input,.input-append select,.input-prepend .uneditable-input,.input-prepend input,.input-prepend select {position:relative;margin: 0 !important;vertical-align:top;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}
.input-append .uneditable-input:focus,.input-append input:focus,.input-append select:focus,.input-prepend .uneditable-input:focus,.input-prepend input:focus,.input-prepend select:focus {z-index:2}
.input-append .add-on,.input-prepend .add-on{display:inline-block;width:auto;height:22px;min-width:16px;padding:5px 5px 3px;font-size:11px;font-weight:400;line-height:20px;text-align:center;text-shadow:0 1px 0 #fff;background-color:#eee;border:1px solid #ccc}
.input-append .add-on,.input-append .btn,.input-prepend .add-on,.input-prepend .btn{vertical-align:top;-moz-border-radius:0;border-radius:0}.input-append .active,.input-prepend .active{background-color:#a9dba9;border-color:#46a546}
.input-prepend .add-on,.input-prepend .btn{margin-right:-1px}.input-append .uneditable-input,.input-append input,.input-append select,.input-prepend .add-on:first-child,.input-prepend .btn:first-child{-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}.input-append .uneditable-input+.btn-group .btn,.input-append input+.btn-group .btn,.input-append select+.btn-group .btn{-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}.input-append .add-on,.input-append .btn,.input-append .btn-group{margin-left:-1px}.input-append .add-on:last-child,.input-append .btn:last-child{-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}

::-webkit-input-placeholder { opacity:.6; }
:-moz-placeholder { /* Firefox 18- */ opacity:.6; }
::-moz-placeholder {  /* Firefox 19+ */ opacity:.6; }
:-ms-input-placeholder { opacity:.6; }


/* ---------------------------
	
	6. LINKS & BUTTONS

----------------------------- */

/* links */


/* buttons */
.btn, .btn a, .btn:hover {text-decoration: none; font-size: 12px;}
.btn.shadow {text-decoration: none; box-shadow: 1px 1px 6px #ccc;}
.dark-theme .btn.shadow {text-decoration: none; box-shadow: 1px 1px 6px #000;}
/* primary */
.btn-primary{color:#fff;text-shadow:none;background-image:-moz-linear-gradient(top,#0D47A1,#1565C0);background-image:-webkit-gradient(linear,0 0,0 100%,from(#0D47A1),to(#1976D2));background-image:-webkit-linear-gradient(top,#0D47A1,#1976D2);background-image:-o-linear-gradient(top,#0D47A1,#1976D2);background:linear-gradient(to top,#0D47A1,#1976D2);background-repeat:repeat-x;border-color:#1565C0 #1565C0 #0D47A1;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);}
.btn-primary.active,.btn-primary.disabled,.btn-primary:active,.btn-primary:hover,.btn-primary[disabled]{background-color:#0D47A1}
/* warning */
.btn-warning{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25);background-color:#faa732;background-image:-moz-linear-gradient(top,#fbb450,#f89406);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));background-image:-webkit-linear-gradient(top,#fbb450,#f89406);background-image:-o-linear-gradient(top,#fbb450,#f89406);background-image:linear-gradient(to bottom,#fbb450,#f89406);background-repeat:repeat-x;border-color:#f89406 #f89406 #ad6704;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.btn-warning.active,.btn-warning.disabled,.btn-warning:active,.btn-warning:hover,.btn-warning[disabled]{color:#fff;background-color:#f89406}.btn-danger{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25);background-color:#da4f49;background-image:-moz-linear-gradient(top,#ee5f5b,#bd362f);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));background-image:-webkit-linear-gradient(top,#ee5f5b,#bd362f);background-image:-o-linear-gradient(top,#ee5f5b,#bd362f);background-image:linear-gradient(to bottom,#ee5f5b,#bd362f);background-repeat:repeat-x;border-color:#bd362f #bd362f #802420;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
/* danger */
.btn-danger.active,.btn-danger.disabled,.btn-danger:active,.btn-danger:hover,.btn-danger[disabled]{color:#fff;background-color:#bd362f}
/* success */
.btn-success{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25);background-image:-moz-linear-gradient(top,#00C853,#388E3C);background-image:-webkit-gradient(linear,0 0,0 100%,from(#00C853),to(#388E3C));background-image:-webkit-linear-gradient(top,#00C853,#388E3C);background-image:-o-linear-gradient(top,#00C853,#388E3C);background-image:linear-gradient(to bottom,#00C853,#388E3C);background-repeat:repeat-x;background-color:#5bb75b;border-color:#00C853 #00C853 #388E3C;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff388E3C', endColorstr='#ff00C853', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.btn-success.active,.btn-success.disabled,.btn-success:active,.btn-success:hover,.btn-success[disabled]{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25);background-image:-moz-linear-gradient(top,#00C853,#1B5E20);background-image:-webkit-gradient(linear,0 0,0 100%,from(#00C853),to(#1B5E20));background-image:-webkit-linear-gradient(top,#00C853,#1B5E20);background-image:-o-linear-gradient(top,#00C853,#1B5E20);background-image:linear-gradient(to bottom,#00C853,#1B5E20);background-color:#558B2F;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1B5E20', endColorstr='#ff00C853', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
/* info */
.btn-info{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25);background-image:-moz-linear-gradient(top,#64B5F6,#2196F3);background-image:-webkit-gradient(linear,0 0,0 100%,from(#64B5F6),to(#2196F3));background-image:-webkit-linear-gradient(top,#64B5F6,#2196F3);background-image:-o-linear-gradient(top,#64B5F6,#2196F3);background-image:linear-gradient(to bottom,#64B5F6,#2196F3);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff64B5F6', endColorstr='#ff2196F3', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.btn-info.active,.btn-info.disabled,.btn-info:active,.btn-info:hover,.btn-info[disabled]{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25);background-image:-moz-linear-gradient(top,#269FFF,#004080);background-image:-webkit-gradient(linear,0 0,0 100%,from(#269FFF),to(#004080));background-image:-webkit-linear-gradient(top,#269FFF,#004080);background-image:-o-linear-gradient(top,#269FFF,#004080);background-image:linear-gradient(to bottom,#269FFF,#004080);}

.btn-success, .btn-info, .btn-warning, .btn-danger {color:#fff !important;}
.btn-primary a, .btn-success a, .btn-info a, .btn-danger a {color:white !important;}


/* ---------------------------
	
	7. IMAGES

----------------------------- */

img {height:auto;max-width:100%;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic}
#map_canvas img, .google-maps img {max-width:none}
.img-circle {-moz-border-radius:500px;border-radius:500px}

/* ---------------------------
	
	11. FORMS

----------------------------- */
form.form-horizontal { margin-top: 40px !important; }

/* ---------------------------
	
	20. MODALS

----------------------------- */
body.modal-open, 
.modal-open .navbar-fixed-top, 
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

.modal.whiteback {
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1050;
  padding: 0;
  /*width: 500px;
  margin-left: -250px;*/
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.modal.whiteback .modal-dialog, .modal.whiteback .modal-content {width: auto;}

.modal.container {
  max-width: none;
}

.modal-backdrop{position:fixed;top:0;left:0;z-index:1040;background:#000;width:100%; height:100%;}
.modal-backdrop.fade{opacity:1}
.modal-backdrop,.modal-backdrop.fade.in{opacity:.95;filter:alpha(opacity=95)}

.overlay_modal .modal-content {border:none; background: transparent; box-shadow: none;/* width:960px;*/ color:white;}
.overlay_modal .modal-header {padding:9px 15px; border-bottom:none;}
.overlay_modal .modal-header .close{margin-top:-15px; color:#fff; opacity: .7;}

/* ---------------------------
	
	21. NOTIFICATIONS

----------------------------- */

/* notifications Pusher */
#gritter-notice-wrapper {position:fixed; top:170px;	right:20px;	width:301px; z-index:9999;}
.gritter-item-wrapper {	position:relative; margin:0 0 10px 0; background:rgba(69,90,100,0.9); border-radius: 5px; }
.gritter-top {height:10px;}
.hover .gritter-top {background-position:right -30px;}
.gritter-bottom {height:8px; margin:0;}
.hover .gritter-bottom {background-position: bottom right;}
.gritter-item {	display:block;color:#eee; padding:2px 11px 8px 11px; font-size: 13px; font-weight: 400;}
.gritter-item p {padding:0;	margin:0;}
.gritter-close {display:none;	position:absolute;	top:5px;	left:3px;	cursor:pointer;	width:30px;	height:30px;}
.gritter-title {	font-size:16px;	font-weight:900;	padding:0 0 7px 0;	display:block;	text-shadow:1px 1px 1px #000;}
.gritter-item-wrapper a:link , .gritter-item-wrapper a:visited, .gritter-item-wrapper a:active {color:#99ccff;}
.gritter-item-wrapper a:hover {text-decoration: underline;}


/* ---------------------------
	
	SERVICEMAPP LAYOUT PARTS

----------------------------- */

/* ---------------------------
	
	31. HEADER

----------------------------- */

/* ----------------- 31.1. HEADER GENERAL */

header.main {/*position: fixed;*/ top: 0px; bottom: 0; height: 60px; width:100%; z-index: 1010;}
header.main.full {bottom: 0; height: 100%;}
header.main nav { min-height: 60px; width:100%; background: #fff; /*border-bottom:1px solid #ccc; */
		box-shadow: 0 1px 7px rgba(0, 0, 0, .15); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .5); }
.m_container {display: none;}

/* ----------------- 31.2. HEADER: HOME LINK */

.navigation_brand {float:left; margin: 11px 5px 0 20px;}

/* ----------------- 31.3. HEADER: AUTOCOMPLETE SEARCH */

#autocomplete_input {margin-top: 10px; height: 40px;}
.autocomplete_box {height: 30px;}
.autocomplete_box .icon {width:50px; text-align: center; color: #2196F3; padding-top:2px;}
.autocomplete_box .icon i.fa-search {font-size: 24px; text-shadow:0px 0px 2px #82B1FF; opacity:1;}
.autocomplete_box .icon i.fa-times {/*padding-top:12px;*/  opacity:.31;}
.autocomplete_box .select {width:133px; opacity:1; padding:0 !important; padding:0 5px;}
.autocomplete_box .select select {height: 30px; opacity: .8; background-image: linear-gradient(to top, #ddd, #eee); border-color: #ccc; cursor: pointer;}
.autocomplete_box .input_autocomp {padding:0 !important;}
.autocomplete_box .input_autocomp input {width:408px; background: rgba(255,255,255,1); border: 1px solid #ddd; border-right: none; border-left: none; height: 28px; font-size: 14px;  padding-left: 10px;}
.autocomplete_box .input_autocomp input:focus {border-color: #fff;}
.autocomplete_box .button {}
.autocomplete_box .button .ac_button {width:45px; height: 30px; border-radius: 2px; padding: 3px; font-size: 20px; font-family: FontAwesome; /*background-image: url('../images/general/logo3.png') !important;*/}

.tt-dataset {overflow: hidden;}
/*.tt-highlight {font-size: 115%;}*/

/* http://docs.jquery.com/UI/Autocomplete#theming */
/* autocomplete search */
.ui-autocomplete{position:absolute;cursor:default; z-index:10004 !important;}
* html .ui-autocomplete{width:1px}
.ui-menu{list-style:none;padding:2px;margin:0;display:block;float:left}
.ui-menu .ui-menu-item{margin:0;padding:0;zoom:1;float:left;clear:left;width:100%}
.ui-menu .ui-menu-item a{text-decoration:none;display:block;padding:.2em .4em;line-height:1.5;zoom:1}
.ui-menu .ui-menu-item a.ui-state-active,.ui-menu .ui-menu-item a.ui-state-hover{font-weight:400;margin:-1px}
.ui-autocomplete { z-index:10004 !important; background: white; max-height: 210px; overflow-y: auto; border: 1px solid #ccc; padding: 0; margin: 0 0 0 5px; box-shadow: 1px 1px 10px #ccc; font-size: 16px !important; font-weight: 400; }
.ui-autocomplete li { border-top: 1px solid #fefefe; border-bottom: 1px solid #fefefe; margin: 1px 0; padding: 1px 0;}
.ui-autocomplete li:last-child { border-bottom: 0; }
.ui-autocomplete a { color: #555; cursor: pointer; }
.ui-autocomplete a:hover { color: #2196F3; border: none; background: #eee; }
.ui-autocomplete .ui-menu-item a { padding: 1px 0 1px 6px; }
.ui-autocomplete .ui-menu-item a.ui-state-hover, .ui-autocomplete .ui-menu-item a.ui-state-active { margin: 0; }
.hover_a {display: none; float: right; color: #aaa; margin-right: 10px; font-weight: 100;  -webkit-transition: color .5s; transition: color .5s; }
.hover_a:hover {color: #2196F3;}
.ui-autocomplete a:hover .hover_a {display: block; }

/* ---------------------------
	
	32. GLOBAL NAVIGATION

----------------------------- */


/* category */
div.category {
		display: none; position:absolute; top:60px; left:0; right:0px; bottom: 0; background:#eee; 
		z-index: 1002;  border-bottom:1px solid #ddd; border-top:4px solid #2196F3;
		box-shadow: 0 1px 5px #aaa; padding: 0; /*min-height: 720px;*/overflow: auto; height: 100%;
	}
div.category::-webkit-scrollbar { display: none; }
.global_nav > li div.category.white {background: #fff; box-shadow: 0 3px 5px #aaa;}
.span9 > div.category { top:212px; left:0; right:0; border-top:10px solid #fff; box-shadow: none; }
.turn_off_glob {cursor:pointer; position:fixed; top:20px; right:50px; font-size:24px; text-shadow: 1px 1px 3px #aaa; color:#4BADFB;}


.featured {margin:0 auto 20px; display: table; width: 1170px;}
.show_more {margin:30px 0 40px; display: table; text-align: center; width: 100%;}
.show_more a {font-weight: 700; padding:10px 40px !important; font-size: 15px;}

/* ----------------- 32.3. GLOBAL NAVIGATION: SEARCH */


/* ---------------------------
	
	33. LEFT SIDEBAR

----------------------------- */

/* ----------------- 33.3. LEFT SIDEBAR: DETAILS */



/* ---------------------------
	
	34. MAIN CONTENT

----------------------------- */

/* ----------------- 34.1. MAIN CONTENT: BREADCRUMBS */

.breadcrumb {padding:10px 0px; background-color:transparent;/*text-transform: uppercase;*/ font-size: 11px; /*font-weight: 400; border-left:1px solid #ddd; border-right:1px solid #ddd; */margin:0;}
.dark-theme .breadcrumb {background-color:#191a1b;}
.breadcrumb.inverted {color:white;}
.breadcrumb.inverted li, .breadcrumb.inverted li.active {color:#bbb !important;}
.breadcrumb.inverted li a {color:#90CAF9 !important;}
.breadcrumb.transparent {background-color:transparent !important;}
.breadcrumb.wide {padding:25px 20px !important; }
.breadcrumb.wide, .breadcrumb.wide a {color: #999}
.in-media .breadcrumb {position: relative; z-index: 100;}
.in-media .breadcrumb li, .in-media .breadcrumb a {color:#ddd !important; text-shadow:1px 1px 1px #000;}
.breadcrumb.share > li + li:before {padding: 0;content: "";}
.breadcrumb .active {font-weight: 400;}
.breadcrumb .fa-chevron-right {opacity: .4;  font-size:9px;}
.breadcrumb .avatar {display: none;}
.breadcrumb .del {font-weight:900; font-size:12px; }
.breadcrumb .kat {color:#999;}
.breadcrumb .shadow {text-shadow: 1px 1px 5px #999;}
.breadcrumb .tag {background: rgba(255,255,255,0.7); border:1px solid #ddd; border-radius:3px; padding: 3px 6px; margin: 0 5px;}
.breadcrumb .filters {line-height:15px; display: inline; vertical-align: bottom; padding-top: 5px; font-size:11px;}


/* ----------------- 34.2. MAIN CONTENT: TITLES */


/* ----------------- 34.3. MAIN CONTENT: COVER */


/* ----------------- 34.4. MAIN CONTENT: TABS */

.title_track {margin:0; background:#FFF; border:1px solid #ddd; padding-top:0; color:#777; border-bottom:none; }
.title_track ul {padding: 0; height: 50px;}
.title_track ul li {padding: 15px 0 11px;}
.title_track ul li.active, .title_track ul li:hover {border-bottom:4px solid #2196F3;}
.title_track ul li.active a, .title_track ul li.active a:hover {background: transparent; box-shadow: none; color: #000; border: none;}
.title_track ul li a:hover {text-decoration: none;}
.title_track ul li.dropdown {position: relative;}
.title_track ul li.dropdown ul {position: absolute; left: 0; top: 40px; height: auto;  margin: 0; padding: 0; background: #fff !important; width: 210px; border-radius: 0; box-shadow: 2px 2px 8px #777;  display:none ; z-index: 1001;}
.title_track ul li.dropdown:hover ul {display: block;}
.title_track ul li.dropdown:hover ul li {padding: 7px 0; border-bottom:none;}
.title_track ul li.dropdown:hover ul li:hover {background:#F6F7F8;}
.title_track ul li.dropdown:hover ul li a {padding: 0 10px; font-size: 12px;}

/*.nav-tabs>li>a {text-transform: uppercase;font-size: 11px;font-weight: 900;color: #000;border:none;}*/

.tab_track {margin:0 0 30px 0; padding-top:0; border:none; overflow: hidden; width: 100%;}
.tab_track > ul {padding: 0; height: auto;}
.tab_track > ul > li {padding: 15px 0 0;}
.tab_track > ul > li.active, .tab_track > ul > li:hover {border-bottom:4px solid #2196F3;}
.tab_track > ul > li a {text-transform: uppercase;font-size: 11px;font-weight: 500;color: #999;border:none;}
.tab_track > ul.nav.nav-tabs > li.active a {text-transform: uppercase;font-size: 11px;font-weight: 900;color: #999;border:none; background: transparent;}
.tab_track > ul > li.active a, .tab_track > ul > li.active a:hover, .tab_track > ul > li.active a:active, .tab_track > ul > li.active a:visited {background: transparent; box-shadow: none; color: #000 !important; border: none;}
.tab_track > ul > li a:hover {text-decoration: none; background: transparent;}

.tab_track .tab-content {padding: 20px;}



.tab-content {padding:0;}

/* ----------------- 34.5. MAIN CONTENT: MAIN CONTROLS */


/* ----------------- 34.6. MAIN CONTENT: QUICK ORDER CONTROLS */

/* ---------------------------
	
	35. CONTENT

----------------------------- */

/* ----------------- 35.1. CONTENT: MESSAGE_BOARD */

/*.alert{padding:8px 35px 8px 14px;margin-bottom:0px;color:#c09853;text-shadow:0 1px 0 rgba(255,255,255,.5);background-color:#fcf8e3;border:1px solid #fbeed5; border-bottom:none;}.alert h4{margin:0}.alert .close{position:relative;top:-2px;right:-21px;line-height:20px}.alert-success{color:#468847;background-color:#dff0d8;border-color:#d6e9c6}.alert-danger,.alert-error{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}.alert-info{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1}.alert-block{padding-top:14px;padding-bottom:14px}.alert-block>p,.alert-block>ul{margin-bottom:0}.alert-block p+p{margin-top:5px}
*/.close{float:right;font-size:20px;font-weight:700;line-height:20px;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}.close:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.4;filter:alpha(opacity=40)}button.close{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none}
 
/* kada za zadati filter nema rezultata ili uopšte kad nema rezultata */
.empty_profile {color: #ccc; height: auto; line-height: 40px; text-align: center; margin-top: 5%; text-shadow: 0 1px 5px; font-size: 32px; overflow:hidden;}

fieldset.no_data {margin: 0px 0 30px; padding: 40px; border:1px solid #ddd; border-top: none;}

#back-to-top { position: fixed;bottom: 40px;right: 40px;z-index: 999;width: 32px;height: 32px;text-align: center;line-height: 30px;background: #ccc;color: #fff;cursor: pointer;border: 0;border-radius: 2px;text-decoration: none;transition: opacity 0.2s ease-out;opacity: 0;}
#back-to-top:hover {background: #455A64;}
#back-to-top.show {opacity: 1;}

/* ---------------------------
	
	36. RIGHT SIDEBAR

----------------------------- */

/* ----------------- 36.1. RIGHT SIDEBAR: UPPER STATS */


/* ----------------- 36.2. RIGHT SIDEBAR: TICKER */

/* ----------------- 36.3. RIGHT SIDEBAR: HELP BOX, NEWS BOX */


/* ----------------- 36.4. RIGHT SIDEBAR: SIDEBAR */
/* ----------------- 36.5. RIGHT SIDEBAR: HELP */


/* ---------------------------
	
	37. FOOTER

----------------------------- */

#footer{padding:10px 5px;font-size:.8em;/*margin-top:20px;*/text-align:center;/*border-top:1px solid #ccc; */background: #203a45; color:#ccc;line-height: 12px;font-weight: ; /*box-shadow: 0px -3px 3px #ddd;*/}
#footer a {color:#FFA000;}
#footer a:hover {color:#fff;}
#footer .contact { /*border-bottom: 1px solid #ddd;*/ padding-bottom: 5px; margin-bottom: 5px;}
#footer ul {padding: 5px;}
#footer ul li {display: inline; padding: 5px;}
.dark-theme #footer{background: #191a1b; color:#777;}


.pac-container {z-index: 9999 !important;}

.tabs-left > .nav-tabs > li > a, .nav-pills.nav-stacked > li > a {text-align: right; /*font-size: 85%; text-transform: uppercase; font-weight: bold; */padding: 5px 15px;}
.tabs-left > .nav-tabs > li > a, .nav-pills.nav-stacked.left > li > a {text-align: left;}
.tabs-krajee.tabs-left .nav-tabs, .tabs-krajee.tabs-right .nav-tabs {width:24%;}
.tabs-krajee.tabs-left .tab-content {margin-left: 25%; padding: 0 20px;}
.nav-justified > li > a {font-size: 115%;}

.nav-stacked > li > a {padding: 5px 15px;}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {background-color: #2196F3;}

.tab-content > .active, .pill-content > .active {display: inline !important;}
.tabs-left .nav-tabs, .tabs-right .nav-tabs, .tabs-left .tab-content, .tabs-right .tab-content {height: 0;}

.nav .divider-vertical {
    height: 38px;
    margin: 0 9px;
    border-right: 1px solid #ccc;
    /*border-left: 1px solid #aaa;*/
}
@media (max-width: 767px) {
    .nav > .divider-vertical {
        display: none;
     }

	.affix {
	  position: static;
	  width: auto;
	  top: 0;
	}
}

/*.dropdown-menu {text-transform: capitalize;}*/


.navbar-default {background-color: #fff; box-shadow: 0px 0px 10px 0px #ddd;}


.box1 {}
.box1 ul {background: rgba(84, 70, 19, 0.59); padding: 10px; box-shadow: 0px 0px 8px #777; border-radius: 3px;}
.box1 li {padding:3px 0; color: white; font-weight: bold; }
.box1 li:hover, .removeAllButton {cursor: pointer;color: lightblue;}
.removeAllButton { color: blue;}
.box2 select {border:none; overflow: auto; width: 90%;}
.box2 select:active, .box2 select:hover {
  outline: none
}
.box2 option {background-color: white; color:black;
    color:#000; font-size: 15px; padding:3px 10px; margin:3px 0; font-weight: bold;}
.box2 option:selected {background-color: white !important; 
    color:#000; font-size: 14px;}



.bs-wizard {margin: 0px 0 30px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative; margin-top: 0px !important;}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #95cbea; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #2196f3; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #95cbea;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard > .bs-wizard-step.disabled {margin-top: 0px !important;}
/*END Form Wizard*/

.dropdown-menu li ul {font-weight: 400;}
/*.dropdown-menu li ul li {padding:0; line-height:20px;}
.dropdown-menu li ul li:hover {background: #eee;}
.dropdown-menu li ul li a:link {padding:0;}*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.navbar {padding: 0px 0;}

/*.navbar-nav > li {padding: 5px 0;}*/

.nav-list {padding-left: 15px; padding-right: 15px; margin-bottom: 0; font-size: 12px;}

.nav-header {display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;}

.nav-list>li>a {padding: 3px 15px;}

.nav-list>li>a, .nav-list .nav-header {margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}

.nav-list .divider {height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ddd;}



/* ---- MATERIAL ----- */
.navbar-absolute-top {width: 100%;
    position: absolute;}
    
.navbar-image {content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center 65%;
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;}


.navbar.navbar-info {
	background-color: black;
   /* color: rgba(255,255,255, 0.84);*/
}

.navbar-material-blog .nav > li > a:hover {background-color: transparent; color:orange;}
.navbar-material-blog .nav > li > a {color: white;}

.dashboard .navbar-toggle .icon-bar {background: white;}
.dashboard .navbar-toggle-fa {border: none; margin-left:-30px}


.item { width: 100%; }
  .item.w2 { width: 50%; }

/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left: 10px; padding-right: 10px;}
@media (max-width:768px) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left: 5px; padding-right: 5px;}
}*/

.panel {background: transparent;}

.project-container, .dashboard-container {margin-top: 20px;z-index: 1;}
.container.dashboard {padding:70px 15px 20px;}
.title-row {width:100%; height:60px; margin-bottom: 10px;}
.dashboard-container .title-row {margin-bottom:20px;}
.main-switch {width: 60px; float:left; background:#203a45; color:white; text-align: center; height:100%; padding: 7px 0;}
.main-switch.profile, .main-switch.profile ul li {padding:0;}
.main-switch img {width: 60px; height: 60px; border-radius: 30px; box-shadow: 0px 9px 17px 0px #000000;}
.title-row .main-title {margin-left: 60px; height:100%; padding: 0 20px; font-size:15px; text-transform: uppercase; font-weight:bold;  }
.title-row .main-title .head-title {width:70%; float:left; padding-top:20px;}
.title-row .main-title div.right {float:right;}
.title-row .main-title div.right ul {}
.title-row .main-title div.right ul li {height: 60px; width:60px; display: table-cell; vertical-align: middle;}
.title-row .main-title div.right ul li a {padding-top:20px;}
.title-row .main-title a {color: #fff;}

.content-row {width:100%; display: table;}

.main-card-container {box-shadow:0px 2px 13px 0px #000000 !important; position: relative;}

.sidebar {vertical-align: top; width:320px; display: table-cell; background: white; color: black; z-index:1; height: 100%; overflow: hidden;}
.sidebar a {color: black}
.sidebar > li {width:320px;}
.sidebar > li.active {background: aliceblue;}
.sidebar > li.active a {}
.sidebar > li table td.main-switch-menu {border-bottom: 1px solid #666;}
.sidebar > li table td.side-menu {border-bottom: 1px solid #9ccc65;}
.sidebar.setup > li table td {border-bottom: none;}
.sidebar > li:last-child, .sidebar > li:last-child table {height: 100%;}
.sidebar > li:last-child table td {border-bottom: none !important;}

.sidebar.switch-only, .sidebar.switch-only > li {width: 60px;}

.sidebar .main-switch-menu {width: 60px; color: white; text-align: center; vertical-align: top; background: #203a45; padding: 15px 0;}
.sidebar .main-switch-menu:hover {background: #2196F3;}
.sidebar .main-switch-menu a {color: white;}
.project-container .sidebar .main-switch-menu.active, .sidebar > li.active .main-switch-menu, .sidebar.setup > li.dashboard .main-switch-menu {background: #9ccc65/*#FFA726*/;}
.dashboard-container .sidebar .main-switch-menu.active {background: #9ccc65;}

.sidebar .side-menu {width: 260px; padding: 0px 0 0px}
.sidebar ul {padding: 10px 0}
.sidebar ul a {color: #203a45;font-size: 11px; text-transform: uppercase;}
.sidebar ul a .hint {color: #ccc;}
.sidebar ul .active {background: #9ccc65; }
.sidebar ul .active a {color: white;}
.sidebar ul td:last-child {padding: 3px 6px;text-align: left;}
.sidebar ul td:first-child {width:30px;text-align: center; padding-top: 3px;}
.sidebar ul li.active a:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    left:100%;
    top:calc(50% - 10px);
    border:10px solid transparent;
    border-left: 10px solid #203a45;
    counter-reset: list;
}

.main-container {vertical-align: top; display: table-cell; height: 100%; overflow: hidden; box-shadow: -2px 0px 5px 0px #e4e4e4; /*position: relative;*/ max-width: 830px;}
.main-container p {padding: 0 !important;}
.main-container .main-content {background: #f6f7f8;border-left:1px solid #ddd; display: flow-root; height: 100%; /*width: calc(100% - 260px); max-width: 869px;min-height:640px;*/}
.main-container .main-content.listed {border-left:none; box-shadow: none; width: 100%; max-width: 100%;}
.main-container .main-content .container-fluid.full {padding:15px 15px 30px;}
.main-container .main-content .container-fluid.full > .row {padding:20px;/*display: table;*/}
.main-container .main-content .container-fluid.listed {height: 100%; }
.main-container .main-content .container-fluid.listed > .row {display: table; height: 100%; }
.main-container .main-content .container-fluid .form-horizontal .form-group {margin:0;}
.main-container .index {width:520px; padding: 0px; float: left; display: table-cell;  height: 100%; /*max-height: 700px; overflow-y: auto; /*overflow-x: hidden;min-height:640px;*/}
.main-container .index.w300 {width:300px;}
.main-container .index.w200 {width:200px;}
.main-container .index ul.index-menu {}
.main-container .index ul.index-menu li {padding:16px; border-bottom:1px solid #eee;}
.main-container .index ul.index-menu.no-padding li {padding:6px 0px;}
.main-container .index ul.index-menu li:hover {background: #eee;}
.main-container .index ul.index-menu li a {font-size:13px; font-weight: 700; color: black; }
.main-container .index ul.index-menu li a .subtext {font-size:11px; font-weight: 400; color: gray;}
.main-container .index ul.index-menu li.active {background: #203a45; position:relative;}
.main-container .index ul.index-menu li.active:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    left:100%;
    top:calc(50% - 10px);
    border:10px solid transparent;
    border-left: 10px solid #203a45;
}
.main-container .index ul.index-menu li.active a {color: white;}
.main-container .index ul.index-menu li.active a .subtext {color: #ccc;}
.main-container .index::-webkit-scrollbar {
    width: 4px;
}
 
.main-container .index::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.main-container .index::-webkit-scrollbar-thumb {
  background-color: #263238;
  outline: 1px solid slategrey;
}
.main-container .content.view {/*margin-left: 200px; */ border-left:1px solid #ddd; padding: 15px 15px 30px; display: table-cell; width: 100%;vertical-align: top;}
.main-container .content.view.w300 {/*margin-left: 300px; */width: 100%; max-width: 569px;}
.main-container .content.middle {vertical-align: middle;}
.main-container .content.full {border-left:1px solid #ddd; padding: 0px; display: table-cell; width: 100%;vertical-align: top;}


.sidebar .StepProgress {
  position: relative;
  padding-left: 55px;
  list-style: none;
}
.StepProgress li {padding: 10px;}
.StepProgress::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 35px;
  left: 30px;
  width: 10px;
  height: 100%;
  border-left: 2px solid #CCC;
}
.StepProgress-item {
  position: relative;
  counter-increment: list;
}
.StepProgress-item:not(: last-child) {
  padding-bottom: 20px;
}
.StepProgress-item::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: -25px;
  height: 100%;
  width: 10px;
}
.StepProgress-item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 6px;
  left: -38px;
  width: 27px;
  height: 27px;
  border: 2px solid #CCC;
  border-radius: 50%;
  background-color: #FFF;
}
.StepProgress-item.is-done::before {
  border-left: 2px solid #9ccc65;
}
.StepProgress-item.is-done::after {
  content: "\2714";
  font-size: 16px;
  padding-top:1px;
  color: #FFF;
  text-align: center;
  border: 2px solid #9ccc65;
  background-color: #9ccc65;
}
.StepProgress-item.current::before {
  border-left: 2px solid #9ccc65;
}
.StepProgress-item.current::after {
  content: counter(list);
  padding: 1px 0 0 2px;
  width: 27px;
  height: 27px;
  top: 6px;
  left: -38px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #9ccc65;
  border: 2px solid #9ccc65;
  background-color: white;
}
/*.sidebar ul.StepProgress:last-child:before {border:none;}*/
